header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0.8rem;
  background-color: rgb(255, 209, 6);
  color: #fff;
  
}
.logo{
 
  margin: 0px;
  padding: 0.1rem;
  width: 18vw;
  height: auto;
}
.letras{
  font-size: 5vw;
}